
div.jtmgio-custom-dropdown{
	position: relative;
}

div.jtmgio-custom-dropdown div.jtmgio-dropdown-list{
	border-radius: 4px;
	background: #fff;
	border: 1px solid #8A8A8A;
	padding: 20px 0px !important;
	width:198px;
	display: inline-block;
	font-size: 12px;
	font-family: "Open Sans", Arial, sans-serif;
	color:#0079C2;
	position: absolute;
	right: 0px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.33);
	z-index: 9999;


}

div.jtmgio-custom-dropdown div.jtmgio-dropdown-list  p.jtmgio-drop-section-title{
	margin:0;
	padding:0;
	color:#333;
	font-weight: bold;
	margin:30px 10px 10px;
	border-bottom: 1px solid #bfbfbf;
	text-align: left;
}

div.jtmgio-custom-dropdown div.jtmgio-dropdown-list  p.jtmgio-drop-section-title:first-child{
	margin-top:5px;
}

div.jtmgio-custom-dropdown div.jtmgio-dropdown-list ul,
div.jtmgio-custom-dropdown div.jtmgio-dropdown-list li{
	margin:0;
	padding:0;
	list-style: none;

}

div.jtmgio-custom-dropdown div.jtmgio-dropdown-list li{
	display: block !important;
	padding:2px 10px !important;
	line-height: 18px !important;
	float: none !important;
	height: auto !important;
	text-align: left !important;
}

div.jtmgio-custom-dropdown div.jtmgio-dropdown-list li:hover{
	background: #0079C2;
	color: #fff !important;
	cursor: pointer;
}
div.jtmgio-custom-dropdown a{ position: relative;}

div.jtmgio-custom-dropdown div.jtmgio-dropdown-list  li.jtmgio-drop-icon-item{
	margin:5px 10px;
}

div.jtmgio-custom-dropdown div.jtmgio-dropdown-list  li.jtmgio-drop-icon-item i{
	font-size: 16px;
	padding-top: 2px;
}
div.jtmgio-custom-dropdown span.jtmgio-dropdown-select{
	display: inline-block !important;
	float: left;
	background-image: url(/ui-v1/images/jtmgio/tc-profile-icons.png);
	background-repeat: no-repeat;
	background-position: -64px 5px;
	height: 100%;
	min-width: 16px;
}
div.jtmgio-custom-dropdown div.added-arrow{
	background-image: url(/ui-v1/images/jtmgio/tc-profile-icons.png);
	background-repeat: no-repeat;
	background-position: -64px 5px;
	width:16px;
	height: 16px;
	position: relative;
	right: 0px;
	float: right;
}

div.jtmgio-custom-dropdown a{
	display: inline-block !important;
	float: left;

}
div.jtmgio-custom-dropdown a.pressed span.jtmgio-dropdown-select,
div.jtmgio-custom-dropdown a:hover span.jtmgio-dropdown-select{
	background-position: -64px -27px;


}

div.jtmgio-custom-dropdown span.remove-select-styling{
	background-image: none;
	padding-left: 0px;
	border: none !important;
	padding-right: 5px;

}


div.jtmgio-custom-dropdown span.jtmgio-dropdown-text{
	display: inline-block !important;
	float: left;
	padding-right:5px;
}

a.gen-button.pressed span.jtmgio-dropdown-select{
	border-left: 1px solid transparent;

}

a.gen-button.pressed span.jtmgio-dropdown-text{
	border-right: 1px solid transparent;
}
